# --- Django Configurations ---
DEBUG=True
SECRET_KEY=change_this_to_a_secure_random_string_in_production
ALLOWED_HOSTS=localhost,127.0.0.1

# --- Database Configurations ---
DATABASE_URL=postgres://postgres_user:dev_password_123@db:5432/imedbest_dev
POSTGRES_DB=imedbest_dev
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=dev_password_123

# --- Azure Entra ID (OIDC) ---
AZURE_TENANT_ID=your-tenant-uuid
AZURE_CLIENT_ID=your-client-app-uuid
AZURE_CLIENT_SECRET=your-client-secret-key
AZURE_CALLBACK_URL=http://localhost:8000/oauth2/callback/
